body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Changed to white */
    color: #000000; /* Changed to black */
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #CEE26B; 
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
    color: #000000; /* Changed to black */
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #333333; /* Slightly lighter black for hover */
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #ffffff; /* Changed to white */
    color: #000000; /* Changed to black */
    transition: all 0.3s;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 60px; /* Offset for the fixed navbar */
    overflow-y: auto; /* Enable vertical scrollbar */
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #ffffff; /* Changed to white */
    cursor: pointer;
}

#sidebar ul.components {
    padding: 0;
    margin: 0;
    list-style: none;
}

#sidebar ul li {
    padding: 7px 20px;
}

#sidebar ul li a {
    padding: 0px;
    font-size: 1em;
    display: block;
    color: #000000; /* Changed to black */
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: #333333; /* Slightly lighter black for hover */
    background: #f1f1f1; /* Light grey for hover background */
}

#content {
    width: 100%;
    padding: 70px;
    margin-left: 250px;
}

.container {
    margin-top: 80px; /* Offset for the fixed navbar */
}

.highlighted {
    text-decoration: underline;
    text-decoration-color: #58EFEC; /* Underline color */
    text-decoration-thickness: 3px; /* Thickness of the underline */
}

.highlighted::before {
    content: '';
    display: block;
    height: 70px; /* Height of the fixed navbar */
    margin-top: -70px; /* Negative value of the navbar height */
    visibility: hidden;
}

#navigation-buttons {
    position: fixed;
    top: 70px; /* Adjusted to be below the navbar */
    right: 10px;
    z-index: 1050; /* Ensure it appears above other content */
}

.btn-yellow {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #000000; /* Changed to black */
}

.btn-yellow:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}

.square-border {
    border: 2px solid black; /* Changed to black */
    padding: 10px;
    margin: 20px 0;
    display: block;
    color: black; /* Changed to black */
}

.lemma {
    font-weight: bold;
    font-size: 30px;
}

